* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "kumb-sans";
    src: url(font/KumbhSans-Regular.ttf);
}

body {
    background: top left no-repeat url(img/bg-pattern-top.svg), bottom right no-repeat url(img/bg-pattern-bottom.svg);
    display: flex;
    font-family: "kumb-sans";
    background-color: hsl(185, 75%, 39%);
    background-size: 500px;

}



.main {
    margin: 100px 500px;
    gap: 0;
}

.container {
    display: grid;
    grid-template-areas:
        'up'
        'down'
    ;
    align-items: center;
}

.up {
    grid-area: 'up';
    height: 150px;
    width: 400px;
    background-image: url(img/bg-pattern-card.svg);
    border-radius: 16px 16px 0 0;
}

.down {
    grid-area: 'down';
    background-color: white;
    z-index: -1;
    width: 400px;
    height: 300px;
    border-radius: 0 0 16px 16px;
}

.data {
    display: flex;
    justify-content: space-around;
}

img {
    display: flex;
    border-radius: 50%;
    margin: -50px 150px;
    border: 4px white;
    border: 2px solid white;
}

.victor {
    margin: 70px 0 10px 0;
    text-align: center;
    font-size: 18px;
}

.london {
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    color: hsl(0, 0%, 59%);
}

.data ul li {
    display: inline-block;

    justify-content: space-evenly;
}


ul li h3 {
    align-items: center;
    justify-content: center;
    padding: 20px 10px 10px;
    text-align: center;
    font-size: 18px;
}

ul li p {
    padding: 0 40px;
    font-size: 18px;
    color: hsl(0, 0%, 59%);

}

.gray {
    font-size: 12px;
}

span {
    color: hsl(0, 0%, 59%);
}

@media (max-width: 576px) {
    .main {
        margin: 100px 40px
    }


}